/* Добавлены стили для Multi-forma и forma-input */
.Multi-forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.forma-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.input-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.input-column label {
  margin-bottom: 10px;
}

.input-style {
  width: 100%;
  padding: 15px 32px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.input-error {
  border-color: red;
  border: 1px solid red !important;
}

.input-valid {
  border-color: #1776cd;
}

.input-error select {
  border: 1px solid red;
}

.input-column select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #1776cd;
  padding: 10px;
}

.select-error {
  border: 1px solid red;
}

.divButton {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

/* Отдельные стили для неактивной и активной кнопок */
.input-error button,
.input-column button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-column button {
  background-color: #1776cd;
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-column button:hover .input-column button[disabled] {
  background-color: #156699;
}

.input-column button:active {
  transform: scale(0.95);
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.row-cols {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.btn-primary {
  margin-right: auto;
}

.row-cols>.form-control {
  width: 50%;
}

.btn-td {
  background-color: #1776CD;
  color: #FFF;
  padding: 10px;
  width: 100%;
  font-size: 14px;
}

.icon {
  width: 45px;
}

.tdRed {
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(192, 35, 35, 0.334);
  cursor: default;
  pointer-events: none;
  padding: 5px 4px;
}

.input-search {
  width: 20%;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
 }

.btn-primary {
  background-color: #1776cd;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-primary:hover {
  background-color: #156699;
}


.btn-primary button:active {
  transform: scale(0.95);
}

.table-media-container {
  display: none;
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0px 0px 2px rgba(153, 137, 137, 0.18);
  border-radius: 6px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {
  .table-media-container {
    display: flex;
  }

  form {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  .row-cols {
    width: 100%;

  }

  .btn-td {
    background-color: #1776CD;
    color: #FFF;
    padding: 5px;
    font-size: 9px;
  }

  thead {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }

  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    border-top: 1px solid;
    justify-content: space-between;
  }

  td {
    border-top: 1px solid #47474727;
    text-align: center;
    padding: 5px !important;
  }

  #type_call {
    display: none;
  }

  .input-search {
    width: 100%;
  }

  .form-control {
    width: 45%;
  }

  .btn-primary {
    background-color: #1776cd;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px 39px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btn-primary:hover {
    background-color: #156699;
  }

  .btn-primary button:active {
    transform: scale(0.95);
  }

  .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0px 0px 2px rgba(153, 137, 137, 0.18);
    background-color: #fff;
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
}