.menu-nav {
    display: flex;
    align-items: center;
    height: 60px;

}

.navi {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li a {
    color: black;
    font-size: 16px;
}

li a:hover {
    font-weight: 800;
    color: #1776CD;
}

.active {
    color: #1776CD;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.burger-menu-mav {
    display: none;
}

/* AppMedia */
.container {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown span:hover {
    font-weight: 800;
    color: #1776CD;
}

.dropdown>span {
    display: flex;
    gap: 10px;
    color: black;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.container-block-main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-column>table {
    width: 100%;
}

.input-column>label {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.input-valid {
    width: 70%;
}

#comments {
    display: block;
}

#comments>h4 {
    width: 100%;
    display: block;
    text-align: start;
}

.input-column>label>h4 {
    width: 40%;
    display: block;
    text-align: start;
}

.container-block {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.container-block-search {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

@media (max-width: 1280px) {
    .burger-menu-mav {
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
        z-index: 9990;

    }

    .burger-menu-mav>svg {
        background: #1776CD;
        color: #FFFFFF;
        border-radius: 6px;
        size: 40px;
        width: 40px;
        height: 30px;
    }

    .logo {
        display: block;
        position: absolute;
        top: 10px;

    }

    .menu-nav {
        display: flex;
        align-items: center;
        height: 60px;
        background: #ffffff;
        z-index: 999;
        top: 0;
        position: sticky;
        margin-bottom: 20px;
    }

    .navi {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: -100%;
        top: 40px;
        height: 100vh;
        z-index: 9999;
        justify-content: left;
    }

    .navi-active {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        background: rgb(255, 255, 255);
        width: 100%;
        height: 100vh;
        gap: 20px;
        top: 50px;
        left: 0;
    }

}

.loading-animation {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-animation img {
    width: 60px;
    height: 101px;
}

/* AppMedia */
@media (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 98%;
        margin: auto;
    }

    .block-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1776CD;
        padding: 20px 40px;
        border-radius: 6px;
        color: #FFF1F1;
        box-shadow: 0px 0px 4px 1px rgba(251, 247, 247, 0.4);
    }

    .container-block-search {
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }
}