/* Orders */

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.box-line {
    width: 100%;
    height: 2px;
    background: #43434363;
    margin: 10px 0 10px 0;
}

input {
    border-radius: 10px;
    border: 1px solid rgba(111, 34, 50, 0.50);
    background: #FFF;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    font-size: 14px
}

.box-serah {
    display: flex;
    gap: 20px;
    width: calc(100% - 65%);
    margin: auto;
}

.box-serah>svg {
    cursor: pointer;
}

.box-serah>svg:hover {
    transform: scale(1.4);
}

.box-main {
    margin: 40px 0
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table>tr>th>h1 {
    padding-bottom: 20px;
}

th {
    text-align: center;
}

td {
    border-top: 1px solid #47474727;
    text-align: center;
    padding: 10px 0;

}

td img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

td>p {
    max-width: 90%;
}

td>a {
    color: #16C1DF;
}

td>a:hover {
    color: #0D7082;
}

.pagination-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 20px;
}

.pagination-custom svg {
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    background: #1776CD;
    color: #FFFFFF;
    border-radius: 6px;
}
.search-results-active{
    background: #61616136;
}
@media (max-width: 1280px) {
    .box-serah {
        width: calc(100% - 30%);
    }

    .box-serah>svg {
        cursor: pointer;
        width: 20px;
    }
}